// Totally not from the old discord theme
$coolGray-50: #bac8d6;
$coolGray-75: #bdc9db;
$coolGray-100: #d3dded;
$coolGray-200: #e6eefc;
$coolGray-700: #2C2F33;
$coolGray-800: #1f2124;
$coolGray-850: #141517;
$coolGray-900: #121314;

