@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	border: 0px solid black;
	border-radius: 0rem;
}
